:root {
  --color-dark: #53624e;
  --color-accent: #E7E7DA;
  --color-tertiary: #F0D2B7;

  --cornered: polygon(0.75em 0, 100% 0, 100% calc(100% - 0.75em), calc(100% - 0.75em) 100%, 0 100%, 0 0.75em);

  --fs-sm: 1rem;
  --fs-base: 1.5rem;
  --fs-lg: 2rem;
  --fs-xl: 5rem;

  --ff-pri: 'Almerena Mono', monospace;
  --ff-sec: 'Almerena Mono Display', monospace;
}

@font-face {
  font-family: 'Almerena Mono Display';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Almarena-Mono-Display-Light.woff') format('woff');
}

@font-face {
  font-family: 'Almerena Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Almarena-Mono-Light.woff') format('woff');
}

@font-face {
  font-family: 'Almerena Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Almarena-Mono-Bold.woff') format('woff');
}

body {
  background-color: var(--color-dark);
  box-sizing: border-box;
  color: var(--color-accent);
  display: flex;
  font-family: var(--ff-pri);
  line-height: 1.5;
  font-size: var(--fs-sm);
  margin: 0 auto;
  max-width: 90rem;
  min-height: 100vh;
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-dark);
}

a {
  border-bottom: 1px solid;
  color: inherit;
  text-decoration: inherit;
}

a::after {
  content: '↗';
  display: none;
  font-size: 0.75em;
  line-height: 1.1;
  margin-left: 0.25em;
  position: absolute;
}

a:hover,
a:focus {
  color: var(--color-tertiary);
}

a:hover::after,
a:focus::after {
  display: inline;
}

a.is-active {
  color: var(--color-tertiary);
  font-weight: 700;
}

a.is-active::after {
  display: none;
}

header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}

header nav {
  padding-left: 1rem;
  text-align: right;
}

main {
  margin-top: 1.5em;
  max-width: 37em;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
  padding: 0;
}

h2,
h3,
h4 {
  border-bottom: 2px solid;
  font-family: var(--ff-sec);
  font-weight: 300;
  margin-top: 0;
}

h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
  margin-top: 1.5em;
}

h1 {
  font-family: var(--ff-sec);
  font-size: var(--fs-lg);
  font-weight: 300;
  margin: 0;
}

ul li {
  margin-bottom: 0.4em;
}

.box {
  border: 2px solid;
  margin-top: 1rem;
  padding: 0 1em;
}

.cornered {
  background: var(--color-accent);
  box-sizing: border-box;
  color: var(--color-dark);
  clip-path: var(--cornered);
  font-family: var(--ff-sec);
  font-weight: 300;
  line-height: 1;
  padding: 0.35em;
}

.layout {
  width: 100%;
}

.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  font-size: var(--fs-lg);
  height: 3.75em;
  margin-bottom: 1rem;
  text-align: right;
  width: 3.75em;
}

.uppercase {
  text-transform: uppercase;
}

@media (min-width: 640px) {
  body {
    font-size: var(--fs-base);
  }

  h1 {
    font-size: var(--fs-xl);
  }

  header {
    display: block;
  }

  header nav {
    padding-left: 0;
    text-align: left;
  }

  main {
    margin-left: 2em;
    margin-top: 0;
  }

  .box {
    border: 2px solid;
    margin-top: 1.5rem;
    padding: 0.5em 1.5em;
  }

  .layout {
    display: flex;
    justify-content: space-between;
  }
}
