{% set current_path = request.url.path ~ '' %}
{% set nav_items = [
  { 'route': 'index', 'title': 'About' },
  { 'route': 'archive', 'title': 'Archive' },
  { 'route': 'food', 'title': 'Food' },
  { 'url': 'https://github.com/hannahwoodward', 'title': 'Github' }
] %}

<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=5">
  <meta name="robots" content="noodp">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title itemprop="name">{{ entry.title }} / HW</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/css/app.css') }}" media="screen">
  <link rel="shortcut icon" href="{{ url_for('static', path='/img/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', path='/img/apple-touch-icon-precomposed.png') }}">
</head>

<body>
  <div class="layout">
    <header>
      <div class="cornered logo">HW</div>
      <nav>
        <ul>
          {% for item in nav_items %}
            {% set is_active = false %}
            {% if item.route is defined %}
              {% set item_url = url_for(item.route)  %}
              {% set relative_path = item_url|replace(request.url.scheme ~ '://' ~ request.url.hostname, '') %}
              {% set is_active = current_path.startswith(relative_path) %}
              {% if relative_path == '/' %}
                {% set is_active = relative_path == current_path %}
              {% endif %}
            {% else %}
              {% set item_url = item.url %}
            {% endif %}

            <li>
              <a href="{{ item_url }}"{% if is_active %} class="is-active"{% endif %}>{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </header>

    <main>
      <h1>{{ entry.title }}</h1>

      {% block content %}{% endblock %}
    </main>
  </div>
</body>
</html>
