{% extends '_base.jinja' %}

{% set reading_list = [
  { 'url': 'https://www.theguardian.com/uk/environment', 'title': 'Guardian environment' },
  { 'url': 'http://news.ycombinator.com', 'title': 'Hacker news' },
  { 'url': 'https://www.itsfreezinginla.co.uk', 'title': 'It\'s freezing in LA' },
  { 'url': 'https://solar.lowtechmagazine.com', 'title': 'Low tech magazine' },
  { 'url': 'https://search.marginalia.nu', 'title': 'Marginalia search' },
  { 'url': 'https://www.nature.com/nclimate', 'title': 'Nature climate change' },
  { 'url': 'https://www.nature.com/search?q=cryosphere&order=date_desc', 'title': 'Nature cryosphere' },
  { 'url': 'https://novaramedia.com', 'title': 'Novara media' },
  { 'url': 'https://whatsonmubi.com', 'title': 'What\'s on MUBI' }
] %}


{% block content %}
  <div class="box">
    <h2>Posts</h2>
    <ul>
      {% for post in entry.posts %}
        <li>
          <a href="{{ url_for('archive_entry', slug=post.slug) }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="box">
    <h2>Reading list</h2>
    <ul>
      {% for x in reading_list %}
        <li>
          <a href="{{ x.url }}">{{ x.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
