{% extends '_base.jinja' %}

{% block content %}
  <div class="box">
    <p>Exoplanet climatologist at Birkbeck (<a href="https://london-nerc-dtp.org">London NERC DTP</a>)</p>
    <p>Interests: climate modelling & feedbacks, rocky exoplanet climate & habitability, Earth climate, Arctic sea ice</p>
    <p>Contact: hannah(at)woodward(dot)sh</p>
  </div>
{% endblock %}
