{% extends '_base.jinja' %}

{% block content %}
  <div class="box">
    <p>Exoclimatologist at Birkbeck (<a href="https://london-nerc-dtp.org">London NERC DTP</a>)</p>
    <p>Interests: climate modelling & feedbacks, terrestrial exoplanet climate & habitability, Arctic climate & sea ice</p>
    <p>Contact: hannah(at)woodward(dot)sh</p>
  </div>
{% endblock %}
