{% extends '_base.jinja' %}


{% block content %}
  <div class="box">
    <ul>
      {% for x in entry.metadata.content_data.personal %}
        <li>
          <p>
            <a href="{{ x.url }}">{{ x.title }}</a><br>
            {{ x.summary }}
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
